BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80

# Estilo de chaves (compatível com 14, 15, 16, 17, 18…)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true          # chaves de função na linha de baixo
  AfterClass: true
  AfterControlStatement: false # if/while/for com chave na mesma linha
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
AllowShortFunctionsOnASingleLine: All
PointerAlignment: Right
SortIncludes: true

